<launch>
    <arg name="gui" default="true" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find depth_controller)/worlds/base.world" />
        <arg name="verbose" value="true" />
        <arg name="gui" value="$(arg gui)" />
    </include>



    <!-- Launch the Nodes -->
    <node name="main_controller" pkg="controller_main" type="main_controller.py" output="screen" />



    <!-- PID Controller for thrust, required to define a input topic as thrust/setpoint
                                                                        thrust/state-->
    <node name="controller_thrust" pkg="pid" type="controller" ns="thrust" output="screen" >
        <param name="Kp" value="7.5" />
        <param name="Ki" value="0.0012" />
        <param name="Kd" value="0.013" />
        <param name="upper_limit" value="10" />
        <param name="lower_limit" value="-10" />
        <param name="windup_limit" value="10" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
    </node>

    <!-- PID Controller for vertical_thrust required to define a input topic as  vertical_thrust/setpoint
                                                                                 vertical_thrust/state-->
    <node name="controller_vertical_thrust" pkg="pid" type="controller" ns="vertical_thrust" output="screen" >
        <param name="Kp_vt" value="7.5" />
        <param name="Ki_vt" value="0.0012" />
        <param name="Kd_vt" value="0.013" />
        <param name="upper_limit" value="10" />
        <param name="lower_limit" value="-10" />
        <param name="windup_limit" value="10" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
    </node>
    <!-- PID Controller for lateral_thrust required to define a input topic as  lateral_thrust/setpoint
                                                                                lateral_thrust/state-->
    <node name="controller_lateral_thrust" pkg="pid" type="controller" ns="lateral_thrust" output="screen" >
        <param name="Kp" value="7.5" />
        <param name="Ki" value="0.0012" />
        <param name="Kd" value="0.013" />
        <param name="upper_limit" value="10" />
        <param name="lower_limit" value="-10" />
        <param name="windup_limit" value="10" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
    </node>

   <!-- PID Controller for orientation_Yaw required to define a input topic as  yaw/setpoint
                                                                                yaw/state-->
    <node name="controller_yaw" pkg="pid" type="controller" ns="yaw" output="screen" >
        <param name="Kp" value="7.5" />
        <param name="Ki" value="0.0012" />
        <param name="Kd" value="0.013" />
        <param name="upper_limit" value="10" />
        <param name="lower_limit" value="-10" />
        <param name="windup_limit" value="10" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
    </node>

   <!-- PID Controller for pitch required to define a input topic as  pitch/setpoint
                                                                      pitch/state-->
        <node name="controller_pitch" pkg="pid" type="controller" ns="pitch" output="screen" >
        <param name="Kp" value="7.5" />
        <param name="Ki" value="0.0012" />
        <param name="Kd" value="0.013" />
        <param name="upper_limit" value="10" />
        <param name="lower_limit" value="-10" />
        <param name="windup_limit" value="10" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
    </node>
       <!-- PID Controller for roll required to define a input topic as  roll/setpoint
                                                                      roll/state-->
        <node name="controller_roll" pkg="pid" type="controller" ns="roll" output="screen" >
        <param name="Kp" value="7.5" />
        <param name="Ki" value="0.0012" />
        <param name="Kd" value="0.013" />
        <param name="upper_limit" value="10" />
        <param name="lower_limit" value="-10" />
        <param name="windup_limit" value="10" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
    </node>




</launch>


