<launch>
    <arg name="est" default="ekf2" />
    <arg name="vehicle" default="uuv_bluerov2_heavy" />

     <!-- start the gazebo simulator and an empty world -->
    <include file="$(find bluerov_sim)/launch/gazebo_base.launch"/>

    <!-- Spawn the vehicle. You can use the args to set the spawn pose-->
    <include file="$(find bluerov_sim)/launch/spawn_vehicle.launch">
        <!-- Set the position-->
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="-10"/>
        <!-- Set roll, pitch, yaw-->
        <arg name="R" value="0.0" />
        <arg name="P" value="0.0" />
        <arg name="Y" value="0.0" />
    </include>

    <!-- Launch the Nodes -->
    <node name="mixer" pkg="depth_controller" type="mixer.py" output="screen" />

    <node name="depth_setpoints" pkg="depth_controller" type="depth_setpoint.py" output="screen" />
    
    <!-- Add your own nodes here -->
    <node name="controller" pkg="depth_controller" type="controller.py" output="screen" />

    <node name="depth_calculator" pkg="depth_controller" type="depth_calculator.py" />

    <node name="rviz_visualizer" pkg="depth_controller" type="rviz_visualizer.py" output="screen"/>
</launch>
